.footer {
    height: 200px;
    .footer__container {
        height: 100%;
        display: flex;
        flex-direction: row;
        .footer__newsletter {
            background-color: $smoky-black;
            width: 90%;
            .footer__newsletter-container{
                width: 100%;
                padding-top: 1.5em;
            }
            .footer__newsletter-email{
                font-size: $x-small;
                padding: .3em;
                width: 80%;
                color: $smoky-black;
                font-weight: $weight-regular;
            }
        }
    }

    .footer__subscription-container {
        width: 10%;
        display: flex;
        align-items: center;
        padding-right: 3%;
        .footer__subscription {
            width: 100%;
            writing-mode: vertical-rl;
            .footer__subscription-text{
                text-decoration: none;
                color: $smoky-black;
                font-weight: $weight-bold;
                font-size: $x-large;
            }
        }
    }
}

@media only screen and (min-width:1200px) {
    .footer{
        height: 30%;
    }
}